@import "tailwindcss";

@theme {
  --font-display: "Newsreader", serif;
  --font-sans: "Inter", sans-serif;

  --color-primary: #354D4F;
  --color-accent: #A94031;
  --color-muted: #5A6165;
  --color-secondary: #C88474;
  --color-bg-light: #F4F2EB;
}

@layer base {
  body {
    @apply bg-bg-light text-primary font-sans antialiased;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-accent ring-offset-2 ring-offset-bg-light;
  }
}