@import "tailwindcss";

@theme {
  --font-display: "Newsreader", serif;
  --font-sans: "Inter", sans-serif;

  --color-primary: #3F5553;
  --color-accent: #A14E3B;
  --color-muted: #6F6A64;
  --color-secondary: #C98C72;
  --color-bg-light: #EEE6DA;
}

@layer base {
  body {
    @apply bg-bg-light text-primary font-sans antialiased;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-accent ring-offset-2 ring-offset-bg-light;
  }
}